body {
  font-family: monospace;
  color: #000;
  background-color: #fff; }

.wrapper {
  font-family: monospace;
  width: 600px;
  margin: auto;
  color: #000;
  background-color: #fff; }

.title {
  font-size: 32px;
  font-weight: bold;
  padding: 0 16px; }

.intro-text {
  border-bottom: 1px dashed black;
  padding: 0 16px; }

.intro-text__paragraph {
  font-size: 18px; }

.event {
  border-bottom: 1px dashed black;
  font-size: 16px;
  padding: 16px; }

.event__spacer {
  width: 20px; }

.event__title {
  font-size: 28px;
  font-weight: bold; }
